/*
  killich's xHTML
  killich@yandex.ru
  Илья Зыкин
*/
.phone{
  background:#FFF url(/images/basic/just-phone.jpg) no-repeat scroll 0 0;
  margin:0 0 25px 0;
  padding-top: 110px;
}
.liner{
  height:3px;
  background:#E3E2E2;
  overflow:hidden;
  zoom:1;
}
.redliner{
  height:3px;
  width:265px;
  background:#DB0101;
}
.phone p{
  text-align:right;
  padding-right: 37px;
}
.phone p strong{
  color:#db0102;
  font-size:15pt;
}
.phone p i{
  color: gray;
  font-size: 12pt;
  font-style: normal;
}
/* curve 7C7C7C*/
